---
Checks: >
  -bugprone-*,
  -cert-*,
  -clang-analyzer-*,
  -concurrency-*,
  -cppcoreguidelines-*,
  -performance-*,
  -portability-*,
  -readability-*,
  -modernize-*
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
